title: Seul Lee
author: Seul Lee
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://SeulLee05.github.io" # the base hostname & protocol for your site
lang: en
timezone: UTC
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - jekyll-whiteglass.gemspec

plugins:
  - jekyll-archives
  - jekyll-paginate
  - jekyll-sitemap

# Build settings
markdown: kramdown
excerpt_separator: "<!-- more -->"

# Outputting
permalink: /:year/:month/:day/:title/
paginate_path: /posts/:num/
paginate: 5

# Markdown settings
kramdown:
  auto_ids: false
  enable_coderay: false
  entity_output: as_char
  footnote_nr: 1
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  toc_levels: 1..6

# jekyll-archives
jekyll-archives:
  enabled:
    - categories
    - tags
  layout: category_archives
  permalinks:
    category: /categories/:name/
    tag: /tags/:name/
